.container {
  align-items: center;
  align-content: center;
  margin: auto;
  width: 90%;
  border: 1px;
  background-color: aqua;
  padding: 40px;
  justify-content: space-around;
}

.add-btn {
  float: right;
  background-color: rgb(244, 10, 10);
  padding-right: 20px;
  text-align: justify;
  }

